.button {
  margin-bottom: 150px;

  &__submit {
    width: 290px;
    height: 48px;

    font-weight: 400;
    font-size: 15px;

    border-radius: 15px;

    color: $color-primary-200;
    background-color: $color-primary-300;
  }
}
